@media (max-width: 992px) {

    header {
        display: none;
    }

    #heading_two .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    #heading_two .container .mobile_menu {
        display: flex;
        align-items: center;
        line-height: 0;
    }

    .offcanvas {
        max-width: 300px;
        width: 100%;
    }

    .offcanvas .dropdown-toggle::after {
        display: none;
    }

    .offcanvas .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
        border-radius: 20px;
        margin-bottom: 6px;
    }

    .offcanvas .dropdown-toggle span {
        line-height: 0;
    }

    .offcanvas .dropdown-toggle:hover {
        color: #00b207;
        outline: 1px solid #618062;
        transition: 0.5s ease;
    }

    .offcanvas .dropdown-menu {
        width: 100%;
        margin: 0;
        border-radius: 20px;
        border: 1px solid #00b20691;
    }

    .offcanvas .dropdown-menu a {
        padding: 10px 4px;
    }


    #banner .offer {
        left: 85%;
        top: 1%;
    }

    #banner .conteins {
        text-align: center;
    }

    #banner .conteins h2 {
        font-size: 40px;
    }

    #banner .conteins p {
        font-size: 16px;
    }

    #banner .conteins a {
        margin-bottom: 20px;
    }

    #banner .prev {
        display: none !important;
    }

    #banner .next {
        display: none !important;
    }

    /* PRODUCT SLIDERS */
    #product_slider .product_child {
        text-align: center !important;
    }

    /* PRODUCT SLIDERS END  */

    #product_slider .prev {
        display: none !important;
    }

    #product_slider .next {
        display: none !important;
    }


    #product {
        text-align: center;
    }

    #product .product_contein {
        padding: 0;
    }

    #product .container {
        padding: 30px;
    }

    #shipping {
        padding: 20PX 20px;
        margin: 10PX 0;
    }

    #shipping .shipping_card {
        margin-bottom: 10px;
        border-radius: 8px;
    }

    #shipping .shipping_card:nth-child(2) {
        border-radius: 8px;
    }

    #shipping .shipping_card:nth-child(3) {
        border-radius: 8px;
    }

    #shipping .shipping_card:nth-child(4) {
        border-radius: 8px;
    }


    #counter {
        background: #edf2ee !important;
        padding: 20px;
    }

    #counter .countDown li {
        padding: 10px;
    }

    #counter .countDown li:first-child {
        margin-left: -20px;
    }






    #add_card .up_arrow {
        display: none !important;
    }

    #add_card .down_arrow {
        display: none !important;
    }

    .magnifier {
        left: 50% !important;
        transform: translateX(-50%);
    }

    #drink{
        padding-top: 30px;
    }
    #drink .boxes {
        flex-direction: column;
        padding-top: 30px;
        justify-content: center;
    }

    #drink .box-1 {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #drink .box-2 {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    #drink .box-3{
        width: 100%;
        margin-left: 10px;
    }
}