:root {
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray--900: #1a1a1a;
    --gray-scale-gray--800: #333;
    --gray-scale-gray--700: #4d4d4d;
    --gray-scale-gray--600: #666;
    --gray-scale-gray--500: #808080;
    --gray-scale-gray--400: #999;
    --gray-scale-gray--300: #b3b3b3;
    --gray-scale-gray--200: #ccc;
    --gray-scale-gray--100: #e6e6e6;
    --gray-scale-gray--50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;

}

body {
    font-family: var(--font-family);
}

header {
    background-color: #333;
    color: var(--gray-scale-gray--300);
    padding: 13px 0;
}

header .heading_one_content {
    display: flex;
    align-items: center;
    height: 100%;
}

header .heading_one_content span {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

header .heading_one_content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray--300);
}

header .heading_one_content_two {
    display: flex;
    justify-content: end;
}

header .heading_one_content_two select {
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, 0.384);
    outline: none;
    color: var(--gray-scale-gray--300);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: var(--gray-scale-gray-–-300);
}

header .heading_one_content_two .sign_in a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray--300);
}


#heading_two .heading_two_content input {
    width: 80%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #808080;
    border-radius: 6px 0 0 6px;
}

#heading_two .heading_two_content input:focus {
    outline: none;
}

#heading_two .heading_two_content form {
    position: relative;
    display: flex;
}

#heading_two .heading_two_content form span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    color: #1A1A1A;
}

#heading_two .heading_two_content button {
    background-color: #00B207;
    border: none;
    display: inline-block;
    padding: 12px;
    border-radius: 0 6px 6px 0;
    width: 20%;
    color: #fff;
}

#heading_two .heart_icon {
    color: #1A1A1A;
    margin-right: 16px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading_two .cart_icon {
    color: #1A1A1A;
    margin-left: 16px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

#heading_two .cart_content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    color: var(--gray-scale-gray--700);
}

#heading_two .cart_content b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--gray-scale-gray--900);
}

#heading_two .count {
    position: relative;
}

#heading_two .count span:last-child {
    position: absolute;
    top: -2px;
    right: 10px;
    display: flex;
    width: 18px;
    height: 18px;
    background-color: #2c742f;
    color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    line-height: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: var(--gray-scale-white);
    border: 1px solid #fff;
}




#nav {
    padding: 0;
}

#nav .dekstop-dropdown {
    background: var(--branding-success);
    border-radius: 0;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
    padding: 17.5px 24px;
    display: inline-flex;
    align-items: center;
}

#nav .dekstop-dropdown span {
    display: inline-flex;
    align-items: center;

}

#nav .dropdown-toggle::after {
    display: none;
}

#nav .category {
    padding: 0 8px;
}

#nav .dropdown-menu.show {
    display: block;
    background: #fff;
    border-radius: 0;
    padding: 10px 7.5px;
    border: none;
    margin: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

#nav .dropdown-menu.show a {
    display: inline-block;
    padding: 8px 16px;
}


#nav .dekstop-dropdown-second .nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    padding-left: 32px;
    display: inline-flex;
    align-items: center;
}

#nav .dekstop-dropdown-second span {
    display: inline-flex;
    align-items: center;
}

#nav ul li a:hover {
    color: var(--branding-success);
}

#nav .contact a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    text-decoration: none;
    padding-left: 4px;
}

#nav .contact span {
    line-height: 0;
}

#nav .contact {
    display: inline-flex;
    align-items: center;
}



#mobile_footer {
    position: fixed;
    bottom: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    z-index: 3;
}

#mobile_footer .contains:hover {
    color: var(--branding-success);
}

#mobile_footer .contains {
    padding: 0;
}

#mobile_footer .contains span {
    display: inline-flex;
    align-items: center;
}

#mobile_footer .contains p {
    margin-bottom: 0;
}



#search {
    background: gray;
    height: 0vh;
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.4s ease;
    overflow: hidden;
}

#search.search_active {
    height: 100%;
}

#search form input {
    width: 100%;
    border: none;
    padding: 12px;
    background: #fff;
    border-radius: 10px;

}

#search form input:focus {
    outline: none;
}

#search form button {
    border: none;
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 0px;
}

#search .cross {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 0px;
    position: absolute;
    top: 15px;
    right: 15px;
}


#banner .conteins h4 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--branding-success);
    margin-bottom: 0;
}

#banner .conteins h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: var(--gren-gray-scale-900);
}

#banner .conteins p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
}

#banner .conteins a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    background-color: #00B207;
    padding: 16px 40px;
    border-radius: 43px;
}

#banner .conteins a:hover {
    background: transparent;
    color: #00B207;
    outline: 1px solid #00B207;
}

#banner .conteins a span {
    display: inline-flex;
    align-items: center;
    margin-left: 16px;
}

#banner .slider_single {
    position: relative;
}

#banner .offer {
    background-color: #ff8a00;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 44%;
    top: 103px;
    transform: translateX(-50%);
}

#banner .offer h3 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-white);
    margin-bottom: 0;
}

#banner .offer p {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-scale-white);
    margin-bottom: 0;
}

#banner .next {
    outline: 1px solid #DAE5DA;
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#banner .next span {
    line-height: 0;
}

#banner .prev {
    outline: 1px solid #DAE5DA;
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#banner .prev span {
    line-height: 0;
}

#banner .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#banner .slick-dots li button {
    background-color: #B4CCB4;
    color: transparent;
    border: none;
    margin: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

#banner .slick-dots .slick-active button {
    background-color: #00B207;
    width: 16px;
}

/* PRODUCT ITEMS  */
#product_slider .heading h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
}

#product_slider .heading {
    padding-bottom: 10px;
}



#product_slider .product_child .img {
    text-align: center;
}

#product_slider .product_child .img img {
    width: 100%;
    display: block;
}

#product_slider .product_child .details h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--700);
    margin-bottom: 0;
}

#product_slider .product_child .details b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#product_slider .product_child .details del {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gray-scale-gray--400);
}

#product_slider .product_child .details .icons {
    color: #FF8A00;
}

#product_slider .product_child .details .icons span:nth-child(5) {
    color: #CCCCCC;
}


#product_slider .details {
    padding: 12px;
}

#product_slider .product_child .add_to_cart {
    background-color: #F2F2F2;
    color: #1A1A1A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#product_slider .product_child .add_to_cart a {
    color: #1a1a1a !important;
}

#product_slider .product_child .add_to_cart a {
    padding: 10px;
    display: block;
}

#product_slider .product_child {
    position: relative;

}

#product_slider .product_child .offer {
    position: absolute;
    top: 16px;
    left: 16px;
    background: #EA4B48;
    padding: 4px;
    border-radius: 4px;
}

#product_slider .product_child:hover {
    border: 1px solid var(--branding-success-dark);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    cursor: pointer;
}

#product_slider .product_child:hover .details h4 {
    color: #2c742f;
}

#product_slider .product_child:hover .add_to_cart {
    background-color: #00B207;
    color: #fff;
}

#product_slider .product_child .preview_icon {
    position: absolute;
    top: 16px;
    right: 16px;
    transform: translateX(-80%);
    visibility: hidden;
    opacity: 0;
}

#product_slider .product_child .preview_icon ul {
    list-style-type: none;
}

#product_slider .product_child .preview_icon ul li a {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.5s ease;
}

#product_slider .product_child:hover .preview_icon {
    visibility: visible;
    opacity: 1;
}

#product_slider .product_child:hover .preview_icon li a {
    transform: translateX(60px);
}

#product_slider .product_child:hover .preview_icon li:nth-child(2) a {
    transition-delay: 0.2s;
}

.custom-tooltip {
    --bs-tooltip-bg: #00B207;
    --bs-tooltip-color: #fff;
}

#product_slider .prev {
    outline: 1px solid #DAE5DA;
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#product_slider .prev span {
    line-height: 0;
}

#product_slider .next {
    outline: 1px solid #DAE5DA;
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#product_slider .slick-dots {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#product_slider .slick-dots li button {
    background-color: #B4CCB4;
    color: transparent;
    border: none;
    margin: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

#product_slider .slick-dots .slick-active button {
    background-color: #00B207;
    width: 16px;
}

#product_slider {
    padding-top: 50px;
}

/* PRODUCT ITEMS END */

/* PRODUCT ITEM */
#product .heading h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-gray--900);
}

#product .product_btn {
    margin-top: 20px;
    text-align: center;
}

#product .product_btn button {
    border: none;
    background: transparent;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--500);
    border-right: 1px solid #B4CCB4;
    padding: 0 24px;
    line-height: 14px;
}

#product .product_btn button:last-child {
    border-right: none;
}

#product .product_contein {
    padding: 16px;
}

#product .product_contein .img {
    text-align: center;
}

#product .product_contein .img img {
    width: 100%;
    display: block;
}

#product .product_contein h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gren-gray-scale-700);
    margin: 0;
}

#product .product_contein span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-900);
}

#product .product_contein del {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gren-gray-scale-400);
}

#product .product_child .add_to_cart {
    background-color: #F2F2F2;
    color: #1A1A1A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#product .product_child .add_to_cart a {
    padding: 10px;
}

#product .product_child .product_contein .icons span {
    color: #FF8A00;
}

#product .product_child .product_contein .icons span:nth-child(5) {
    color: #CCCCCC;
}

#product .product_child {
    position: relative;
}

#product .offer {
    background: #EA4B48;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 4px;
    border-radius: 4px;
}

#product .product_child .preview_icon {
    position: absolute;
    top: 16px;
    right: 16px;
    transform: translateX(-80%);
    visibility: hidden;
    opacity: 0;
}

#product .product_child .preview_icon ul {
    list-style-type: none;
}

#product .product_child .preview_icon ul li a {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.5s ease;
}

#product .product_child:hover .preview_icon {
    visibility: visible;
    opacity: 1;
}

#product .product_child:hover .preview_icon li a {
    transform: translateX(60px);
}

#product .product_child:hover .preview_icon li:nth-child(2) a {
    transition-delay: 0.2s;
}



#product .product_child:hover {
    border: 1px solid var(--branding-success-dark);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    cursor: pointer;
}

#product .product_child:hover .product_contein h4 {
    color: #2c742f;
}

#product .product_child:hover .add_to_cart {
    background-color: #00B207;
    color: #fff;
}

#product {
    padding-top: 30px;
}

/* PRODUCT ITEM END */




/* SHIPPING START */
#shipping {
    padding: 20px 0;
    box-shadow: 0 16px 48px 0 rgba(14, 107, 21, 0.08);
}

#shipping .shipping_card {
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 8px 0 0 8px;
}

#shipping .shipping_card:nth-child(2) {
    border-radius: 0;
}

#shipping .shipping_card:nth-child(3) {
    border-radius: 0;
}

#shipping .shipping_card:nth-child(4) {
    border-radius: 0 8px 8px 0;
}

#shipping .icons {
    padding: 35px 220px 16px 30px;
}

#shipping .icons span {
    line-height: 0;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #00B207;
    width: 70px;
    height: 70px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#shipping .conteins h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #4d4d4d;
    margin-bottom: 8px;
}

#shipping .conteins p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4d4d4d;
}

#shipping .conteins {
    padding: 0 40px 30px 40px;
}

#shipping .shipping_card:hover {
    background-color: #00B207;
    color: #F2F2F2;
}

/* SHIPPING END */


/* DRINKS PART START */
#drink {
    padding-top: 30px;
}

#drink .conteins h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: justify;
    color: var(--gray-scale-white);
}

/* DRINKS PART END */

/* COUNTER START */
#counter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
}

#counter .countDown {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#counter .countDown li {
    background: #fff;
    margin: 0 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    justify-content: center;
    /* position: relative; */
}

#counter .countDown li p {
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gren-gray-scale-500);
}

#counter .countDown .seperator {
    background: transparent;
    padding: 0;
}

#counter .countDown li span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: var(--branding-success);
}

#counter .countDown li::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    right: 0;
    top: 50%;
}

#counter .heading {
    text-align: center;
}

#counter .heading span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--branding-success);
}

#counter .heading h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
}

/* COUNTER END */


/* ADD CARD SLIDER */
#add_card {
    padding-top: 20px;
}

#add_card .slider-nav .slick-track img {
    width: 100px;
    height: 100px;
}

#add_card .slider-nav .nav_img {
    position: relative;
    height: 100px;
}

#add_card .slider-nav .nav_img img {
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%);
}

#add_card .slider-for .show_img img {
    width: 416px;
    height: 416px;
}

#add_card .up_arrow {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

#add_card .down_arrow {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.magnifier {
    border: 1px solid #21b42e !important;
}

/* ADD CARD SLIDER END */



/* DRINK */

#drink {
    padding: 200px 0 100px 0;
}

#drink .boxes {
    Width: calc(100% - 24px);
    margin-right: 10px;
}

#drink .box-1 {
    background-image: url(/assets/iamges/milk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    padding: 0;
    Width: calc(33% - 24px);
    margin-right: 10px;
}

#drink .box-1 .details {
    padding-left: 24px;
}

#drink .box-1 .details h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: justify;
    color: var(--gray-scale-white);
    margin-top: 40px;
}

#drink .box-1 .details p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: justify;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 16px;
}

#drink .box-1 .details b {
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-scale-white);
}

#drink .box-1 .details a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: justify;
    color: var(--branding-success);
    background: #fff;
    padding: 14px 32px;
    border-radius: 43px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 40px;
}

#drink .box-1 .details a span {
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
}


/* BOX -2  */
#drink .box-2 {
    background-image: url(/assets/iamges/drink\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    Width: calc(33% - 24px);
    margin-right: 10px;
}

#drink .box-2 .details {
    text-align: end;
    padding-right: 32px;
}

#drink .box-2 .details p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gren-gray-scale-900);
    margin-bottom: 0;
    margin: 46px 60px 8px 0;
}

#drink .box-2 .details h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: var(--gren-gray-scale-900);
}

#drink .box-2 .details a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: justify;
    color: var(--branding-success);
    background: #fff;
    padding: 14px 32px;
    border-radius: 43px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 40px;
}

#drink .box-2 .details a span {
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
}

#drink .box-3 {
    background-image: url(/assets/iamges/drink\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    padding: 0;
}

#drink .box-3 .details{
    padding-left: 32px;
}
#drink .box-3 .details h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gren-gray-scale-900);
    margin-bottom: 8px;
    padding-top: 46px;
}

#drink .box-3 .details p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: var(--gren-gray-scale-900);
}

#drink .box-3 .details a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: justify;
    color: var(--branding-success);
    background: #fff;
    padding: 14px 32px;
    border-radius: 43px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 40px;
}

#drink .box-3 .details a span {
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
}

/* BOX -2 END */
/* DRINK END */